<div class="container">
    <h1 class="mb-4">View Post</h1>

    <a href="#" routerLink="/post/index" class="btn btn-primary mb-4">Back</a>

    <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover">
            <tbody>
                <tr>
                    <th class="border">ID</th>
                    <td class="border">{{ post.id }}</td>
                </tr>
                <tr>
                    <th class="border">Titulo</th>
                    <td class="border">{{ post.titulo }}</td>
                </tr>
                <tr>
                    <th class="border">Descripcion</th>
                    <td class="border">{{ post.descripcion }}</td>
                </tr>
                <tr>
                    <th class="border">Destinatario</th>
                    <td class="border">{{ post.destinatario }}</td>
                </tr>
                <tr>
                    <th class="border">Firmantes</th>
                    <td class="border">{{ post.firmantes }}</td>
                </tr>
                <tr>
                    <th class="border">Estado</th>
                    <td class="border">{{ post.estado }}</td>
                </tr>
                <tr>
                    <th class="border">User ID</th>
                    <td class="border">{{ post.user_id }}</td>
                </tr>
                <tr>
                    <th class="border">Categoria ID</th>
                    <td class="border">{{ post.categoria_id }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
